DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DB?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST.neon.tech/DB?sslmode=require"
NEON_BRANCH="production"
PORT="4100"
VITE_API_URL="http://localhost:4100"
VITE_SOCKET_URL="http://localhost:4100"
